In [19]:
import pandas as pd 
import numpy as np 
from scipy import stats
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.multiclass import OneVsRestClassifier
import xgboost as xgb
from xgboost import XGBClassifier 
from xgboost import XGBRegressor
from xgboost import plot_importance
import matplotlib.pylab as plt
from matplotlib import pyplot
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
train_dataset = pd.read_csv("HackRiceForeFlightData_Train.csv")

In [4]:
test_dataset = pd.read_csv("HackRiceForeFlightData_Test.csv")

In [5]:
train_dataset.head()

,user_id,airport,number_of_flights,airport_type,number_fbos,number_restaurants,number_hotels,number_maintenance,number_flight_schools,number_flying_clubs,name,latitude,longitude
0,user_31441,KSAT,6,AIRPORT,6,15,10,9,7,0,San Antonio International,29.533958,-98.469057
1,user_31441,KROW,3,AIRPORT,2,15,10,1,1,0,Roswell International Air Center,33.299870,-104.529398
2,user_31441,KMAF,2,AIRPORT,1,12,8,1,1,0,Midland International Air and Space Port,31.942528,-102.201917
3,user_31441,KCRP,1,AIRPORT,0,15,13,1,1,1,Corpus Christi International,27.772194,-97.502417
4,user_31441,KLBB,1,AIRPORT,0,16,10,3,5,1,Lubbock Preston Smith International,33.663667,-101.820556

In [6]:
test_dataset.head()

,user_id,airport,number_of_flights,airport_type,number_fbos,number_restaurants,number_hotels,number_maintenance,number_flight_schools,number_flying_clubs,name,latitude,longitude
0,user_9603,KSBA,2,AIRPORT,2,15,10,2,8,1,Santa Barbara Municipal,34.426191,-119.841493
1,user_9603,KCRQ,2,AIRPORT,8,11,10,7,13,2,Mc Clellan-Palomar,33.128250,-117.280083
2,user_9603,KPRB,2,AIRPORT,1,24,14,2,3,0,Paso Robles Municipal,35.672889,-120.627083
3,user_9603,KIZA,1,AIRPORT,0,15,12,3,0,0,Santa Ynez,34.606815,-120.075550
4,user_12522,KJYO,3,AIRPORT,4,16,11,2,7,4,Leesburg Executive,39.077972,-77.557500

In [18]:
feature_cols = ['number_fbos','number_of_flights', 'number_restaurants', 'number_hotels', 'number_maintenance', 'number_flight_schools','number_flying_clubs', 'latitude', 'longitude']
target = 'airport'
ID_col = 'user_id'
train_features_X = train_dataset[feature_cols]
train_target_Y = train_dataset[target]
test_feature_X = test_dataset[feature_cols]
test_target_Y = test_dataset[target]
test_Id = test_dataset[ID_col]
predictors = [x for x in train_features_X.columns if x not in [target,ID_col]]
mlb = MultiLabelBinarizer()

In [16]:
unique_airports = test_dataset['airport'].nunique()
print(unique_airports)

655

In [20]:
model = XGBClassifier(
    nthread=8,
    objective='multi:softmax',
    num_class='655'
)
#y = mlb.fit_transform(test_dataset[target])
y= test_dataset[target]
model.fit(test_dataset[predictors], y,eval_metric='auc')
print("Model Fitted")
print("Beginning K-Fold")
kfold = KFold(n_splits=3, random_state=42)
results = cross_val_score(model, test_feature_X, test_target_Y, cv=kfold, scoring='roc_auc')
print(results)
print(results.mean())

ValueError: bad input shape (955, 36)